baseURL: "https://luminous-clafoutis-e0e42b.netlify.app/"
languageCode: en-us
title: Private Conversations
theme: PaperMod


params:
    homeInfoParams:
        Title: Private Conversations With Hideous People
        Content: The way we think about things can't be the way we talk about things. It's just not practical. Here, you'll find feature-length conversation I wish I could have had with people; only here they're entirely one-sided.
    ShowReadingTime: false

menu:
    main:
        - identifier: archives
          name: Archives
          url: /archives/
          weight: 10
        - identifier: search
          name: Search
          url: /search/
          weight: 20
          

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary          
